*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.jar


/Library
/Temp
/Build
/Videos
/Assets/Resources/ArtsContents/Apollo/%USERPROFILE%
/Assets/Resources/ArtsContents/Apollo/%USERPROFILE%.meta

Thumbs.db
Thumbs.db.meta

/obj

*.suo
*.7z
*.zip
*.rar
